@import "header.css";
@import "nav.css";
@import "descriptor.css";

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
}

.container-big {
    max-width: 1644px;
}

.flex {
    display: flex;
}

.btn {
    display: inline-block;
    background-color: #F29416;
    border-radius: 4px;
    padding: 14px 70px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    letter-spacing: 0.01em;

    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 200ms;
}

.btn:hover {
    background-color: #ffa731;
}

.title {
    letter-spacing: 0.01em;
    color: #3F3F3F;
    line-height: 140%;
    position: relative;
}

h1.title {
    font-size: 50px;
}

h1.title:before {
    content: "";
    display: block;
    position: absolute;
    top: 103px;
    left: -20px;
    background: url("../img/title-bg.png") no-repeat;
    width: 375px;
    height: 62px;
    z-index: -1;
}

h2.title {
    font-size: 36px;
}

.sub-title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F29416;
    position: relative;
    padding-left: 39px;
}

.sub-title:before {
    content: "";
    display: block;
    width: 25px;
    border-bottom: 2px solid #F29416;
    position: absolute;
    top: 9px;
    left: 0;
}
